<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Adequately
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130910

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="/static/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Welcome, {{project_header}}!</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">

			{% if trade == 0 %}
			<h3>Please confirm:</h3>
			<h2>{{conf_info}}</h2>
			<form action="trade" method="post" class="content">
				<input id="stock_name" type="text" name="stock_name" style="display:none" value="{{stock_name}}">
				<input id="current_price" type="text" name="current_price" style="display:none" value="{{current_price}}">
				<input id="buy_num" type="text" name="buy_num" style="display:none" value="{{buy_num}}">
				<input type="submit" value="OK" class="button">
			</form>
			{% endif%}

			{% if trade == 1 %}
			<h2>{{conf_info}}</h2>
			<form action="trade_finished" method="post" class="content">
				<input type="submit" value="OK" class="button">
			</form>
			{% endif%}

			<h3>Your stock information:</h3>
			<h2>balance:{{balance}}</h2>
			{% for key, value in stock.items %}
				<h2>{{key}}:{{value}}</h2>
			{% endfor %}
			<span class="byline">{{login_state|linebreaks}}</span>
		</div>
	</div>
</div>


<div id="copyright">
	<p>Jianan Pan, Hailong Jiang, Kailong Lu</p>
</div>
</body>
</html>
